<!DOCTYPE html>


<html>
    
    <style>
        body{
            background: url(http://postfiles8.naver.net/MjAxNzAzMjlfMTYy/MDAxNDkwNzkxNDk2OTY1.JkCWIC2rCL2GY2x8-pESLDIf2WtnZ_7mT6dxaiw5IDwg.oTyQrcNumMXqkL6OcQnSWHMDVppK4CQw9UbYCoykdfAg.PNG.dydrlaks/tk.png?type=w2) no-repeat center center fixed; 
   
      background-size:800px,800px;
            
        }
        
    </style>
    
    <meta charset="utf-8">
    <head>
     <title>게임게임게임</title>   
    </head>
    
    <body>
        <div align="center">
        <h1>당신이 주시해야 할 세 가지 알려드립니다. 이름 적어주세요.</h1>
        <br>
        <br>
        <form action= "/lotto/mouse" method="get">
    	<input type = "text" name="input">
    	<input type = "submit">
        </form>
        </div>
    </body>
    
    
</html>
