<h3>누구일까요? </h3>
<%= @result_test_hash %><br>
<% @result_test_hash2 %><br>
<form action= "/lotto/mouse" method="get">
	<input type = "text" name="input">
	<input type = "submit">
</form>

<%= @answer%>
<% @result%>
<a href = "/lotto/mouse">테스트버튼</a><br>
